[submodule "Golem/external/spdlog"]
	path = Golem/external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Golem/external/glfw"]
	path = Golem/external/glfw
	url = https://github.com/glfw/glfw
[submodule "Golem/external/imgui"]
	path = Golem/external/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
